<ul>
    {{#each projects}}
    <li>
        <h3>{{title}}</h3>
        <a href={{link}}><img src="images/{{link}}.jpg" alt="{{title}}"></a>
        <br> {{#each tools}}
        <button disabled=true>{{this}}</button> {{/each}}
        <p>{{description}}</p>
        <a href={{github}}>Here it is on Github</a>
    </li>
    {{/each}}
</ul>