<div id="home">
  <h1>Chad Kreutzer<br>
    <small>Web Developer: I like to make things</small>
  </h1>
</div>
<div id="home-body">
  <a href="#about">About</a>
  <a href="#portfolio">Portfolio</a>
  <a href="#contact">Contact</a>
</div>
<div id="about">
  <h2>My Story So Far</h2>
</div>
<div id="about-body">
  <img id="pup-and-me" src="/images/eli_and_me.jpg" alt="My dog and me laying in the grass">
  {{md 'about_me'}}
</div>
<div id="portfolio">
  <h2>Things I Have Made</h2>
</div>
<div id="portfolio-body">
  <h3>All of them made by hand with pride</h3>
  <ul>
    {{#each projects}}
    <li>
      <h4>{{title}}</h4>
      <a href={{link}}><img src="images/{{link}}.jpg" alt="{{title}}"></a>
      <br>
      {{#each tools}}
        <button>{{this}}</button>
      {{/each}}
      <p>{{description}}</p>
      <a href={{github}}>Here it is on Github</a>
    </li>
    {{/each}}
  </ul>
</div>
<div id="contact">
  <h2>Ways to Reach Me</h2>
</div>
<div id="contact-body">
    {{> social_buttons}}
    <h3>Contact Me:</h3>
    {{> contact_form}}
</div>
<div id="goodbye"></div>
